doctype html
html
  head
    title Cell Carrier Lookup
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    script(src="app.js")
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel="stylesheet")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    meta(name="viewport", content="width=device-width, initial-scale=1")

  body
    .container
      .row
        .col-md-12
          h2 Text for Free
          p This free tool allows you to text a group of people - such as a church, boyscout troup, clients at a small business, etc - using your email address.
          p To prevent spam we require you to provide your phone number and send the messages from your own e-mail account.
          p This free service is accurate for about 70% of numbers as it is based on publically available records (like whitepages.com) that are often out-of-date.

      .row
        form.js-msg-form(role="form")
          .col-md-6
            .container
              .row
                h3 Your Message
              .form-group
                span 140 characters of awesome:
                textarea.form-control(name="sms", placeholder="type your text message here", required="required")
                span.js-msg-length 0
                span /140
              .form-group
                span Phone numbers of friends (
                span.js-nums-length 0
                span ):
                textarea.js-numbers.form-control(name="numbers", placeholder="ex: 801.360.5555, (757) 880-5555, +13857225555", required="required")
                span (you can paste from a spreadsheet, a PDF, a comma, tab, or newline separated list.... pretty much anything)

              .row
                h3 About You
              .form-group
                label Phone Number:
                input(name="phone", type="text", required="required")
              .form-group
                label Email Address:
                input(name="email", type="email", required="required")
                select(name="provider")
                  optgroup(label="Major Email Providers")
                    option(value="auto", selected) Automatically Detected
                  optgroup(label="Custom Hosted Domains")
                    option(value="other") -- CHOOSE ONE --
                    option(value="Gmail") Google Apps / GMail
                    option(value="Hotmail") Microsoft / Outlook.com
                    option(value="Yahoo") Yahoo Business Email
                    option(value="Zoho") Zoho
                    option(value="unsupported") Unsupported
                p Only gmail.com, yahoo.com, hotmail.com, live.com, and msn.com are supported at this time.
              .form-group
                label Email Password:
                input(name="password", type="password", required="required")
                p We require your password so that we can use your account to send the text messages on your behalf.

              .form-group
                button.btn.btn-default(type="submit") Next


      .row
        .col-md-12
          h2 Results

      .row
        .col-md-6
          h2 Tabular
          table
        .col-md-6
          h2 Raw
          pre
            code.js-results
